<h1>Workout Log</h1>


<%= form_with model: Workout.new, class: "form-inline" do |form| %>
  

  <%= form.label :workout_type %>
  <%= form.text_field :workout_type %>
  
  
  <%= form.label :duration %>
  <%= form.text_field :duration %>
  
  <%= form.label :category_id %>
  <%= form.collection_select :category_id, Category.all, :id, :name %>

  <%= form.label :date %>
  <%= form.datetime_field :date %>

  <%= form.number_field :user_id, id: :workout_user_id, value: current_user.id, type: :hidden %>

  <button type = "submit" class = "btn btn-primary mb-2">Submit</button>

<% end %>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Workout</th>
      <th scope="col">Duration</th>
      <th scope="col">Category</th>
      <th scope="col">Options</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @workouts.each do |workout| %>
  <% if workout.user == current_user %>
    <tr>
      <td><%= workout.workout_type.capitalize %></td>
      <td><%= workout.duration %></td>
      <td><%= link_to workout.category.name , workout.category %></td>
      <td><%= link_to 'Show', workout_path(workout.id), class:"btn btn-secondary"%>
      <%= link_to 'Edit', edit_workout_path(workout.id), class:"btn btn-secondary" %></td>
      <td><%= button_to 'Delete', workout_path(workout.id), method: :delete, remote: true, class: "btn btn-danger"%></td>
    </tr>
  <% end %>
    <% end %>
  </tbody>
</table>


<%= pie_chart current_user.workouts.group(:category).sum(:duration) %>




