<h1>Workouts#index</h1>

<%= form_with model: Workout.new do |form| %>
  <%= form.label :workout_type %>
  <%= form.text_field :workout_type %>

  <%= form.label :duration %>
  <%= form.text_field :duration %>

  <%= form.label :category_id %>
  <%= form.collection_select :category_id, Category.all, :id, :name %>

  <%= form.label :date %>
  <%= form.datetime_field :date %>

  <%= form.submit "Add Workout" %>
<% end %>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Workout</th>
      <th scope="col">Duration</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
  <% @workouts.each do |workout| %>
    <tr>
      <td><%= workout.workout_type.capitalize %></td>
      <td><%= workout.duration %></td>
      <td><%= workout.category.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= pie_chart Workout.group(:workout_type).count %>


